*{
    padding: 0px;
    margin: 0px;
    color: white;
    text-decoration: none;
}
body {
    background-color: black;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    border: 1px solid black;
    top: 0px;
    position: sticky;
    z-index: 100;
    background-color: blueviolet;
}
header > nav {
    display: flex;
    gap: 20px;
}

/* profile section */
.profile {
    display: flex;
    justify-content: center;
}
.profile > img {
    height: 500px;
    border-radius: 50%;
    border: 2px darkslateblue solid;
}
.profile-sec > h2 {
    text-align: center;
}